{% extends "base.html" %}

{% block content %}
<ul class="post-list">
  {% set section = get_section(path="dreams/_index.md") %}
  {% for page in section.pages %}
  <li>
    <a href="{{ page.permalink }}">
      <span class="post-date">{{ page.date | date(format="%Y-%m-%d · %H:%M") }}</span>
      <div class="post-title">{{ page.title }}</div>
      {% if page.description %}
      <div class="post-summary">{{ page.description }}</div>
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
